<mat-toolbar fxLayout = "row" fxLayoutAlign="center center" color='white'> 
    <div fxLayout = "row" fxLayoutAlign="center center"> <a mat-button routerLink="/">MadeleineSong.com </a></div>
     </mat-toolbar>

<mat-toolbar color='white' id="nav-bar"> 
    <button mat-button routerLink="/poems">poems </button>
    <button mat-button routerLink="/videos">videos </button>
    <button mat-button routerLink="/food">food </button>
    <button mat-button routerLink="/books">books </button>
    <button mat-button routerLink="/more">more </button>
    <button mat-button routerLink="/about">about </button>
</mat-toolbar>

<router-outlet></router-outlet>
